@using ManeKani.Pages.Shared.Layouts;

@{
    Layout = "Layouts/_Layout";
}


<div class="min-h-screen bg-base100 flex flex-col w-full">
    <div class="flex h-full w-full">
        <div class="page w-full relative mb-28">
            <div class="max-w-screen-2xl w-full px-6 md:px-8">
                <nav class="space-y-2 pb-4">
                    <h1>Settings</h1>
                    <div class="flex space-x-2 w-full overflow-x-auto">
                        @{
                            var navigatorClasses = "py-2 px-4 font-medium transition-colors border-b border-transparent [&.active]:border-accent hover:border-primary link no-underline hover:bg-primary/10 rounded-t list-none";
                        }
                        @Html.SettingsNavigator("Account", "Account", "/settings/account", @navigatorClasses)
                        @Html.SettingsNavigator("Profile", "Profile", "/settings/profile", @navigatorClasses)
                        @Html.SettingsNavigator("API Keys", "ApiKeys", "/settings/api-keys", @navigatorClasses)
                        @Html.SettingsNavigator("Preferences", "Preferences", "/settings/preferences", @navigatorClasses)
                    </div>
                </nav>
                @RenderBody()
            </div>
        </div>
    </div>
</div>
